.a1{
    height: 80px;
    background-color: brown;
    color: white;
    border: 4px solid white;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
}
.a2{
    height: 35px;
    background-color: brown;
    color: white;
    border: 4px solid white;
    border-radius: 8px;
    text-align: center;
    margin-top: 45px;
}
.a3{
    height: 80px;
    background-color: brown;
    color: white;
    border: 4px solid white;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
}
.a4{
    height: 80px;
    background-color: brown;
    color: white;
    border: 4px solid white;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
}
.b1{
    height: 60px;
    background-color: brown;
    color: white;
    border: 4px solid white;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
}
.a5{
    height: 40px;
    background-color: brown;
    color: white;
    border: 4px solid white;
    border-radius: 8px;
    text-align: center;
    padding: 5px;
}